@model Eurofurence.App.Domain.Model.Dealers.DealerRecord
@{
    Layout = "~/Views/Shared/_WebPreviewLayout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.DisplayName) ? Model.AttendeeNickname : (Model.DisplayName.Equals(Model.AttendeeNickname) ? Model.DisplayName : $"{Model.DisplayName} ({Model.AttendeeNickname})");
    ViewBag.SubTitle = string.Join(", ", Model.Categories);

    var days = new string[] { };

    if (Model.AttendsOnThursday)
    {
        days.Append("Thursday");
    }

    if (Model.AttendsOnFriday)
    {
        days.Append("Friday");
    }

    if (Model.AttendsOnSaturday)
    {
        days.Append("Saturday");
    }

}

<header>
    @Model.ShortDescription
</header>

<section class="summary">
    @if (!string.IsNullOrEmpty(Model.TwitterHandle))
    {
            <a href="https://twitter.com/@Model.TwitterHandle" title="Twitter: @@Model.TwitterHandle" class="button button-primary"><i class="fab fa-twitter"></i> @Model.TwitterHandle</a>
    }
    @if (!string.IsNullOrEmpty(Model.TelegramHandle))
    {
    <a href="https://t.me/@Model.TelegramHandle" title="Telegram: @@@Model.TelegramHandle" class="button button-primary"><i class="fab fa-telegram"></i> @Model.TelegramHandle</a>
    }
    @if (days.Length > 0)
    {
        <span class="button nohover"><i class="fas fa-calendar"></i> Only on @string.Join(", ", days)</span>
    }
    @if (Model.IsAfterDark)
    {
        <span class="button nohover"><i class="fas fa-moon"></i> After Dark</span>
    }
</section>

<hr />

<section class="row">
    <div class="one-half column">
        <h4>About the Artist</h4>
        <p>@Model.AboutTheArtistText</p>
    </div>
    @if (Model.ArtistImageId != null)
    {
        <img src="@ViewBag.ApiBaseUrl/Images/@Model.ArtistImageId.ToString()/Content" title="@Model.DisplayName" class="one-half column" />
    }
</section>

<section class="row reverse">
    @if (!string.IsNullOrEmpty(Model.AboutTheArtText))
    {
        <div class="one-half column">
            <h4>About the Art</h4>

           <p>@Model.AboutTheArtText</p>
        </div>
    }
    @if (Model.ArtPreviewImageId != null)
    {
        <img src="@ViewBag.ApiBaseUrl/Images/@Model.ArtPreviewImageId.ToString()/Content" title="@Model.ArtPreviewCaption" class="one-half column" />
    }
</section>
