@using Eurofurence.App.Domain.Model.Events
@model EventRecord
@{
    Layout = "~/Views/Shared/_WebPreviewLayout.cshtml";

    var eventConferenceDay = (ViewData["eventConferenceDay"] as EventConferenceDayRecord);
    var eventConferenceRoom = (ViewData["eventConferenceRoom"] as EventConferenceRoomRecord);
    var eventConferenceTrack = (ViewData["eventConferenceTrack"] as EventConferenceTrackRecord);

    ViewBag.Title = Model.Title;
    ViewBag.SubTitle = Model.SubTitle;
}

<header>
    @Model.Abstract
</header>

<section class="summary">
    <span><i class="fas fa-calendar"></i> @eventConferenceDay.Name (@Model.StartDateTimeUtc.ToString("dddd"))</span>
    <span><i class="fas fa-clock"></i> @Model.StartDateTimeUtc.ToString("HH:mm:ss")</span>
    <span><i class="fas fa-step-forward"></i> @Model.EndDateTimeUtc.ToString("HH:mm:ss")</span>
    <span><i class="fas fa-map-marker-alt"></i> @eventConferenceRoom.Name</span>
</section>

@if (Model.BannerImageId != null)
{
    <section>
        <img src="@ViewBag.ApiBaseUrl/Images/@Model.BannerImageId.ToString()/Content" title="@Model.Title" />
    </section>
}

<section class="row">
    <p class="one-half column">
        @Model.Description
    </p>

    @if (Model.PosterImageId != null)
    {
        <img src="@ViewBag.ApiBaseUrl/Images/@Model.PosterImageId.ToString()/Content" title="@Model.Title" class="one-half column" />
    }
</section>
