@using Eurofurence.App.Server.Web.Controllers
@using Eurofurence.App.Domain.Model.Events
@model EventRecord
@{
    Layout = "~/Views/Shared/_WebPreviewLayout.cshtml";

    var apiBaseUrl = ViewData[WebPreviewController.VIEWDATA_API_BASE_URL] as string;
    var webBaseUrl = ViewData[WebPreviewController.VIEWDATA_WEB_BASE_URL] as string;
    var contentBaseUrl = ViewData[WebPreviewController.VIEWDATA_CONTENT_BASE_URL] as string;

    var eventConferenceDay = (ViewData["eventConferenceDay"] as EventConferenceDayRecord);
    var eventConferenceRoom = (ViewData["eventConferenceRoom"] as EventConferenceRoomRecord);
    var eventConferenceTrack = (ViewData["eventConferenceTrack"] as EventConferenceTrackRecord);

    var title = Model.Title;
    var subTitle = Model.SubTitle;

    bool showAbstract = !Model.Abstract.Equals(Model.Description, StringComparison.InvariantCultureIgnoreCase);
}

<header>
    @if (Model.BannerImage != null)
    {
        <img src="@Model.BannerImage.Url" title="@Model.Title" style="max-width: 100%;" />
    }

    <h1>
        @title
        <span>@subTitle</span>
    </h1>

    @if (showAbstract)
    {
        @Html.Raw(Markdig.Markdown.ToHtml(Model.Abstract))
    }
</header>

<section class="summary">
    <div class="infobox"><label><i class="fas fa-calendar"></i>When:</label> @eventConferenceDay.Name
        (@Model.StartDateTimeUtc.ToString("dddd"))</div>
    <div class="infobox"><label><i class="fas fa-clock"></i>From:</label> @Model.StartTime.ToString("hh\\:mm")</div>
    <div class="infobox"><label><i class="fas fa-step-forward"></i>To:</label> @Model.EndTime.ToString("hh\\:mm")</div>
    <div class="infobox"><label><i class="fas fa-map-marker-alt"></i>Where:</label> @eventConferenceRoom.Name</div>
</section>

<section class="row">
    <div class="@(Model.PosterImage != null ? "one-half" : "three") column">
        @Html.Raw(Markdig.Markdown.ToHtml(Model.Description))
    </div>

    @if (Model.PosterImage != null)
    {
        <img src="@Model.PosterImage.Url" style="max-width: 100%;" title="@Model.Title" class="one-half column" />
    }
</section>
