@using Eurofurence.App.Server.Web.Controllers
@using System.Linq
@model Eurofurence.App.Domain.Model.Knowledge.KnowledgeEntryRecord
@{
    Layout = "~/Views/Shared/_WebPreviewLayout.cshtml";

    var webBaseUrl = ViewData[WebPreviewController.VIEWDATA_WEB_BASE_URL] as string;
    var apiBaseUrl = ViewData[WebPreviewController.VIEWDATA_API_BASE_URL] as string;

    var knowledgeGroup = (ViewData["knowledgeGroup"] as Eurofurence.App.Domain.Model.Knowledge.KnowledgeGroupRecord);
    var knowledgeEntryImage = Model.Images?.FirstOrDefault();
}

<header>
    <a href="@webBaseUrl/KnowledgeGroups#@knowledgeGroup.Id" class="button">@knowledgeGroup.Name</a>
    <h1>
        @Model.Title
    </h1>
</header>

<hr />

@if (knowledgeEntryImage != null)
{
    <section class="center">
    <img src="@knowledgeEntryImage.Url" style="max-width: 100%;" />
</section>
}

<section class="row">
    <p class="three column">
        @Html.Raw(Markdig.Markdown.ToHtml(Model.Text))
    </p>

    @foreach (var linkFragment in Model.Links?.Where(a => a.FragmentType ==
    Eurofurence.App.Domain.Model.Fragments.LinkFragment.FragmentTypeEnum.WebExternal))
    {

        <a href="@linkFragment.Target" target="_blank" class="button button-primary">@linkFragment.Name</a>

    }

</section>