@using Eurofurence.App.Server.Web.Extensions

@{
    var webPreviewMetadata = (ViewData["Metadata"] as WebPreviewMetadata);
    if (webPreviewMetadata == null)
    {
        throw new ArgumentException();
    }

    ViewBag.ApiBaseUrl = (ViewData["ApiBaseUrl"] as String);
    ViewBag.WebBaseUrl = (ViewData["WebBaseUrl"] as String);
    ViewBag.ContentBaseUrl = (ViewData["ContentBaseUrl"] as String);
}
<!DOCTYPE html>

<html>
<head>
    @{
        if (!string.IsNullOrEmpty(webPreviewMetadata.Title))
        {
            <title>@webPreviewMetadata.Title</title>
        }

        if (!string.IsNullOrEmpty(webPreviewMetadata.Description))
        {
            <meta name="description" content="@webPreviewMetadata.Description" />
        }

        if (!string.IsNullOrEmpty(webPreviewMetadata.Redirect))
        {
            <meta http-equiv="refresh" content="@($"0;url={Model.Redirect}")" />
        }

        foreach (var property in webPreviewMetadata.Properties)
        {
            <meta property="@property.Key" content="@property.Value" />
        }

        if (!string.IsNullOrEmpty(webPreviewMetadata.AppIdITunes))
        {
            <meta name="apple-itunes-app" content="app-id=@webPreviewMetadata.AppIdITunes,app-argument=@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
        }

        if (!string.IsNullOrEmpty(webPreviewMetadata.AppIdPlay))
        {
            <link rel="manifest" href="/Web/manifest.json" />
        }
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@ViewBag.ContentBaseUrl/css/fontawesome.min.css" rel="stylesheet">
    <link href="@ViewBag.ContentBaseUrl/css/brands.min.css" rel="stylesheet">
    <link href="@ViewBag.ContentBaseUrl/css/solid.min.css" rel="stylesheet">
    <style>
        html, body {
            background: #333;
            color: #DDD;
            font-family: sans-serif;
        }

        article {
            width: 80%;
            max-width: 65ex;
            margin: auto;
        }

        h1 span {
            font-size: 50%;
            display: block;
        }

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 2ex 0;
            text-align: justify;
        }

        section > * {
            padding: 0 1ex;
            max-width: 100%;
        }

        section.half > * {
            flex: 1 1 30ex;
            margin: 1ex 0;
        }

        section.half > img {
            max-width: 30ex;
            max-height: 30ex;
            object-fit: contain;
        }

        header {
            text-align: center;
        }

        footer {
            text-align: center;
            font-size: 75%;
            margin-top: 1ex;
        }

        a:any-link {
            color: #3AF;
        }
    </style>
</head>
<body>
    <article>
        <h1 style="text-align: center;">
            @ViewBag.Title
            @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
            {
                <span>@ViewBag.SubTitle</span>
            }
        </h1>
        @RenderBody()
        <footer>
            This is a preview of content that you can see with our <a href="/">mobile apps</a>.
        </footer>
    </article>
</body>
</html>

