@using Eurofurence.App.Server.Web.Extensions

@{
    var webPreviewMetadata = (ViewData["Metadata"] as WebPreviewMetadata);
    if (webPreviewMetadata == null)
    {
        throw new ArgumentException();
    }

    ViewBag.ApiBaseUrl = (ViewData["ApiBaseUrl"] as String);
    ViewBag.WebBaseUrl = (ViewData["WebBaseUrl"] as String);
    ViewBag.ContentBaseUrl = (ViewData["ContentBaseUrl"] as String);
}
<!DOCTYPE html>

<html lang="en">
<head>
    @{
        if (!string.IsNullOrEmpty(webPreviewMetadata.Title))
        {
            <title>@webPreviewMetadata.Title</title>
        }

        if (!string.IsNullOrEmpty(webPreviewMetadata.Description))
        {
            <meta name="description" content="@webPreviewMetadata.Description" />
        }

        if (!string.IsNullOrEmpty(webPreviewMetadata.Redirect))
        {
            <meta http-equiv="refresh" content="@($"0;url={Model.Redirect}")" />
        }

        foreach (var property in webPreviewMetadata.Properties)
        {
            <meta property="@property.Key" content="@property.Value" />
        }

        if (!string.IsNullOrEmpty(webPreviewMetadata.AppIdITunes))
        {
            <meta name="apple-itunes-app" content="app-id=@webPreviewMetadata.AppIdITunes,app-argument=@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
        }

        if (!string.IsNullOrEmpty(webPreviewMetadata.AppIdPlay))
        {
            <link rel="manifest" href="/Web/manifest.json" />
        }
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//fonts.googleapis.com/css?family=Fira+Sans:400,300,600" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/fontawesome.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/brands.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="@ViewBag.ContentBaseUrl/images/favicon.ico">
    <style>
        body {
            font-family: "Fira Sans", sans-serif;
        }

        h1 span {
            font-size: 50%;
            display: block;
        }

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            text-align: justify;
        }

        .row.reverse {
            flex-direction: row-reverse;
        }

        .button.nohover:hover {
            cursor: initial;
            color: #555;
            border-color: #bbb;
        }

        @@media (max-width: 550px) {
            .button {
                width: 100%;
                box-sizing: border-box;
            }
        }

        @@media (min-width: 550px) {
            .row.reverse .column:first-child, .row.reverse .columns:first-child {
                margin-left: 4%;
            }

            .row.reverse .column, .row.reverse .columns {
                margin-left: 0;
            }

            .summary > * {
                margin-left: 1ex;
                margin-right: 1ex;
            }
        }

        .summary {
            margin: 1.5rem 0;
        }

        .summary > * {
            text-wrap: avoid;
            max-width: 100%;
        }

        section.row > img {
            margin-bottom: 2.5rem;
        }

        header {
            text-align: center;
        }

        footer {
            text-align: center;
            font-size: 75%;
            margin-top: 1ex;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">
            @ViewBag.Title
            @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
            {
                <span>@ViewBag.SubTitle</span>
            }
        </h1>
        @RenderBody()
        <footer>
            This is a preview of content that you can see with our <a href="/">mobile apps</a>.
        </footer>
    </div>
</body>
</html>

