@model Eurofurence.App.Server.Web.Extensions.WebPreviewMetadata
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
@{
    if (!string.IsNullOrEmpty(Model.Title))
    {
    <title>@Model.Title</title>
    }

    if (!string.IsNullOrEmpty(Model.Description))
    {
    <meta name="description" content="@Model.Description" />
    }

    if (!string.IsNullOrEmpty(Model.Redirect))
    {
    <meta http-equiv="refresh" content="@($"0;url={Model.Redirect}")" />
    }

    foreach (var property in Model.Properties)
    {
    <meta property="@property.Key" content="@property.Value" />
    }
}
</head>
<body>

    This is content that you can see with our <a href="/">mobile apps</a>.

</body>
</html>
