@model Eurofurence.App.Server.Web.Extensions.WebPreviewMetadata
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
@{
    if (!string.IsNullOrEmpty(Model.Title))
    {
    <title>@Model.Title</title>
    }

    if (!string.IsNullOrEmpty(Model.Description))
    {
    <meta name="description" content="@Model.Description" />
    }

    if (!string.IsNullOrEmpty(Model.Redirect))
    {
    <meta http-equiv="refresh" content="@($"0;url={Model.Redirect}")" />
    }

    foreach (var property in Model.Properties)
    {
    <meta property="@property.Key" content="@property.Value" />
    }

    if (!string.IsNullOrEmpty(Model.AppIdITunes))
    {
    <meta name="apple-itunes-app" content="app-id=@Model.AppIdITunes,app-argument=@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" />
    }

}
</head>
<body style="font-family: sans-serif;">
</body>
</html>
